<ion-view view-title="{{addr.typeStr}}">
	<ion-content>
		<div class="list">
	        <div class="item item-input item-input-inset">
        		<div class="col">
		        	<!--label class="item-input-wrapper search-input">
			            <input
			            	type="text"
			            	readonly
			            	autocomplete="off"
			            	placeholder="Начните вводить адрес"
			            	ng-model="addr.adr"
			            	ng-model-options="{debounce: {'default': 500, 'blur': 0}}"/>
		            </label-->
		            <div class="button button-block button-clear button-black-text"
		            	ng-bind="addr.adr"
		            	ng-click="gotoAddrSelect()"></div>
		        </div>
			</div>
			<div ng-if="addr.type == 9">
		        <div class="item item-input item-input-inset">
		        	<div class="col">
	    	        	<label class="item-input-wrapper search-input">
	    		            <input
	    		            	type="text"
	    		            	autocomplete="off"
	    		            	placeholder="дом"
	    		            	ng-model="addr.hse"
	    		            	ng-model-options="{debounce: {'default': 100, 'blur': 0}}"
	    		            	auto-focus="false"
	    		            	key-focus/>
	    	            </label>
		        	</div>
		        	<!-- <div class="col col-67">
	    	        	<label class="item-input-wrapper search-input">
	    		            <input
	    		            	type="text"
	    		            	autocomplete="off"
	    		            	placeholder="корпус/строение"
	    		            	ng-model="addr.corp"
	    		            	ng-model-options="{debounce: {'default': 100, 'blur': 0}}"
	    		            	key-focus/>
	    	            </label>
		        	</div> -->
		        </div>
	        </div>
		</div>


		<!--div class="row-text-divider">примечание</div-->

		<div class="row">
			<div class="col">
				<textarea class="note" ng-model="addr.ent" placeholder="Подъезд / Как проехать" key-focus></textarea>
			</div>
		</div>

		<div class="row">
			<div class="col">
				<button class="button button-block button-energized"
					ng-click="saveAddr()"
					ng-class="{disabled: addr.next()}">
					Готово
				</button>
			</div>
		</div>
	</ion-content>
</ion-view>
