<ion-view view-title="Адрес">
	<ion-content>
		<!-- поле ввода адреса -->
		<div class="list list-adds-search">
	        <div class="item item-input item-input-inset">

	            <div class="input-spinner" ng-if-="search.loading">
	            	<i class="icon ion-ios-search" ng-if="!search.loading"></i>
	            	<ion-spinner icon="ripple" ng-if="search.loading"></ion-spinner>
	            </div>
	        	<!-- <span class="input-label">Откуда поедем</span> -->
	        	<label class="item-input-wrapper search-input">
	        		<!--i class="icon ion-ios-search placeholder-icon"></i-->
		            <input
		            	type="text"
		            	autocomplete="off"
		            	placeholder="Начните вводить адрес"
		            	ng-model="search.text"
		            	ng-model-options="{debounce: {'default': 500, 'blur': 0}}"
		            	auto-focus="false"/>
	            </label>
	        </div>
		</div>
		<!-- END OF поле ввода адреса -->

		<!-- список адресов по маске -->
		<div class="list card list-search addr-dropdown" ng-if="search.items.length">
	        <a class="item"
	        	ng-repeat="addr in search.items"
	        	ng-class-odd="'item-stable'"
	        	ng-click="selectAddr(addr)">
        		<!--i class="icon flaticon flaticon-address"></i-->
	        	<small>
	        		{{addr.nme}}
		        	<h4>
		        		{{search.types[addr.type]}}
		        	</h4>
	        	</small>
	        </a>
		</div>
		<!-- END OF список адресов по маске -->

		<!-- список ближайших адресов -->
		<div class="list list-adds-search" ng-if="geolocationAdds.length && id == 0">
	        <a class="item item-icon-left"
	        	ng-repeat="addr in geolocationAdds"
	        	ng-class-odd="'item-stable'"
	        	ng-click="selectAddr(addr)">
        		<i class="icon ion-location"></i>
	        	<span ng-bind-html="addr.text()"></span>
	        </a>
		</div>
		<!-- END OF список ближайших адресов -->

		<!-- список любимых адресов -->
		<div class="list list-adds-search" ng-if="favoriteAdds.length">
			<div class="item item-divider2 item-icon-right" ng-click="gotoSelect(sources[1])">
				<i class="icon ion-more"></i>
				Избранные
			</div>
      <a class="item item-icon-left"
      	ng-repeat="addr in favoriteAdds"
      	ng-class-odd="'item-stable'"
      	ng-click="selectAddr(addr)">
    		<i class="icon ion-star"></i>
      	<span ng-bind-html="addr.text()"></span>
      </a>
		</div>
		<!-- END OF список любимых адресов -->

		<!-- список адресов из истории-->
		<div class="list list-adds-search" ng-if="historyAdds.length">
			<div class="item item-divider2 item-icon-right" ng-click="gotoSelect(sources[0])">
				<i class="icon ion-more"></i>
				Из истории
			</div>
      <a class="item item-icon-left"
      	ng-repeat="addr in historyAdds"
      	ng-class-odd="'item-stable'"
      	ng-click="selectAddr(addr)">
    		<i class="icon ion-clock"></i>
      	<span ng-bind-html="addr.text()"></span>
      </a>
		</div>
		<!-- END OF список адресов из истории-->

		<!-- меню быстрого выбора -->
		<div class="list list-inset-" ng-if="false">
			<a class="item item-icon-left item-icon-right"
				ng-repeat="i in sources"
				ng-click="gotoSelect(i)">
				<i class="icon {{i.icon}}"></i>
				{{i.name}}
				<i class="icon ion-ios-arrow-right item-note"></i>
			</a>
		</div>
		<!-- END OF меню быстрого выбора -->

		<!-- блок кнопок -->
		<div class="row">
			<div class="col">
				<button class="button button-block icon-right -ion-chatbubbles flaticon flaticon-call40" ng-if="id != 0" ng-click="byVoice()">
					{{search.byVoice}}
				</button>
				<button class="button button-block button-energized" ng-click="addrComplete()" ng-disabled="!search.text">
					Готово
				</button>
			</div>
		</div>
		<!-- END OF блок кнопок -->

	</ion-content>
</ion-view>
