
<ion-view>
    <ion-nav-title ng-click="gotoTwnSelect()">
      {{app.twn_nme}}
    </ion-nav-title>
    <ion-content>
		<div class="list location-list">

			<!-- список адресов -->

		    <div class="item item-icon-left item-icon-right location"
		    	ng-repeat="addr in order.adds"
		    	ng-class-even="'item-stable'"
		    	ng-class="{assertive: addr.error}">
		    	<i class="icon ion-location" ng-if="!addr.error"></i>
          <i class="icon ion-alert" ng-if="addr.error"></i>
          <div class="swap-arrow" ng-if="!$first" ng-click="order.swapAdds($index)">
            <i class="icon ion-arrow-swap orange-text"></i>
          </div>
		    	<div ng-click="addrEdit(addr, $index)">
			    	<h2 ng-bind-html="addr.text($first)"></h2>
		    	</div>
		    	<i class="icon ion-ios-arrow-right item-note" ng-if="addr.next()"></i>
		    	<i class="icon ion-ios-close-empty item-note" ng-if="!addr.next()" ng-click="addrRemove($index)"></i>
		    </div>

		  <!-- END OF список адресов -->

			<!-- кнопка добавления адреса -->
        	<div class="item text-right buttons add-address" ng-if="order.canAdd">
        		<div class="button button-clear add" ng-click="addrAdd()">
	        		<i class="ion-plus -circled icon-medium energized"></i>
        			Ещё адрес
        		</div>
        	</div>
			<!-- END OF кнопка добавления адреса -->

      <div class="row-divider"><span>Тариф</span></div>
      <div class="row text-center tariffs-row" ng-if="app.card">
        <div class="col selected" style="margin-left: 2em; margin-right: 2em; color: white; display: block; width: auto; font-size: 1.2em;">
          {{app.card.srv.nme || app.card.trf.rem}}
        </div>
      </div>
			<!-- выбор тарифа -->
    		<div class="row text-center tariffs-row" on-swipe-left="toggleUrgentShow()" ng-if="!app.card">

    			<!-- список обычных тарифов -->
				<div
					class="col"
					ng-repeat="i in app.trfs"
					ng-class="{selected: i.id == order.trf.id}"
					ng-click="trfChange(i.id)"
					ng-if="i.level != 5">
					<i class="{{i.icon}}"></i>
					<div>
						<!--{{i.time}} мин.-->
						{{i.desc || i.name}}
					</div>
					<div>
						от {{i.mincost}} руб.
					</div>
				</div>
				<!-- END OF список обычных тарифов -->


				<div class="urgent-box" ng-if="state.urgent"></div>

				<!-- тариф срочный! -->
				<div class="urgent-row"
					ng-class="{'show': state.urgentShow}"
					ng-if="state.urgent"
					on-swipe-right="toggleUrgentShow()">
					<div class="urgent-container">
						<div class="urgent-label" ng-click="toggleUrgentShow()">
							<div class="urgent-rotate">
								Срочно
								<i class="ion-plane icon-big icon-45-deg"></i>
							</div>
						</div>
						<div class="urgent-content" style="padding-left: 30px;">
							<table class="order-info-container"
								ng-if="order.complete"
								ng-include="'templates/orderInfo.html'">
							</table>
							<div class="text-left" style="margin-left: 25px;" ng-if="!order.complete">
								<h3>
									Ближайшая машина
								</h3>
								<hr>
								<h4>
									от {{state.urgentCost}} руб.
									<br/>
									через {{state.urgentTime}} мин.
								</h4>
							</div>
						</div>
					</div>
				</div>
				<!-- END OF тариф срочный! -->


			</div>
			<!-- END OF выбор тарифа -->

			<div class="clearfix"></div>



			<!-- блок выбора опций -->
			<div ng-show="!state.urgentShow">

				<div class="row-divider" ng-show="order.complete"><span>Стоимость</span></div>

				<table class="order-info-container"
					ng-if="order.complete"
					ng-include="'templates/orderInfo.html'">
				</table>

        <!-- опции заказа -->

				<div class="row-divider"><span>Опции</span></div>

				<!-- выбор времени -->
				<div class="list order-type-list">
					<a class="item item-icon-right schedule" ng-click="gotoAdvance()"> <!-- ng-if="!order.type"-->
						<!--i class="icon -ion-calendar flaticon flaticon-set5"></i-->

						<!-- список активных опций -->

						<div class="options">
							<div class="option" ng-repeat="opt in activeOptions">
								<i class="icon {{opt.icon}}"></i>
							</div>
							<div class="option scheduled" ng-if="order.type">
								{{order.getHumanDatetime(order.tme_drv)}}
							</div>
						</div>
						<div class="options none" ng-if="!(activeOptions.length || order.type)">
							Не выбраны
						</div>

						<i class="icon ion-ios-arrow-right item-note"></i>
					</a>
					<!--a class="item item-icon-left item-icon-right schedule" ng-click="gotoAdvance()" ng-if="order.type">
						<i class="icon ion-calendar"></i>
						{{order.getHumanDatetime(order.tme_drv)}}
						<i class="icon ion-ios-arrow-right item-note"></i>
					</a-->
				</div>

        <!-- Ввод промокода -->

        <div class="row-divider"><span>Карта/Промокод</span></div>

				<div class="list order-type-list">
					<!-- <a class="item item-icon-right schedule" ng-click="gotoPromo()">  -->
          <a class="item item-icon-right schedule" ng-click="gotoCards()">
            <div ng-if="!app.card">
              <div class="options none" ng-if="!(app.promo.enabled && app.promo.text) || !order.usePromo && !order.badPromo && order.usePromo">
  							Не используется
  						</div>
              <div class="options red-text" ng-if="order.badPromo">
  							Не существует
  						</div>
              <div class="options orange-text" ng-if="(app.promo.enabled && app.promo.text) && !order.badPromo && !order.usePromo">
  							Неприменим
  						</div>
              <div class="options" ng-if="(app.promo.enabled && app.promo.text && !order.badPromo && order.usePromo)">
  							{{app.promo.text}}
                <div class="small">
                  промокод
                </div>
  						</div>
            </div>

            <div ng-if="app.card">
              <div class="options" ng-class="{'text-disabled': app.card.type == 3 && app.card.balance < order.wtd_cost}">
                <span ng-if="app.card.type == 8">
                  <!-- <i class="ion-ios-plus-outline" ng-if="!app.card.writeOff"></i> -->
                  <!-- <i class="ion-ios-minus-outline" ng-if="app.card.writeOff"></i> -->
                  <i class="material-icons vertical-align-bottom" ng-if="!app.card.writeOff">&#xE148;</i>
                  <i class="material-icons vertical-align-bottom" ng-if="app.card.writeOff">&#xE15D;</i>
                </span>
  							{{app.card.title}}
                <div class="small" ng-if="app.card.type == 8 || app.card.balance >= order.wtd_cost">
                  {{app.card.typeMeta.title}} карта
                </div>
                <div class="small red-text" ng-if="app.card.type == 3 && app.card.balance < order.wtd_cost">
                  недостаточно средств
                </div>
  						</div>
            </div>

						<i class="icon ion-ios-arrow-right item-note"></i>
					</a>
				</div>

				<div class="row-divider"></div>


				<!-- END OF список активных опций -->


 				<!--div>
					<div class="row text-center">
						<div class="col">
							<button
								class="button button-clear button-block order-type-button"
								ng-class="{'button-energized': order.type == 0}"
								ng-click="order.type = 0">
								<i class="ion-plain ion-checkmark-round"></i>
								Прямо сейчас
							</button>
						</div>
						<div class="col">
							<button
								class="button button-clear button-block order-type-button"
								ng-class="{'button-energized': order.type == 1}"
								ng-click="order.type = 1">
									Заказ на дату
							</button>
						</div>
					</div>
				</div-->
				<!-- END OF выбор времени -->


			</div>
			<!-- END OF блок выбора опций -->

			<!-- кнопка вызова -->
			<div class="row text-center list-buttons">
					<button class="button button-block button-energized order-button"
						ng-class="{'disabled': !order.complete}"
						ng-click="orderCreate()">
						<span ng-if="!order.type">
							Вызвать такси <span ng-if="order.wtd_cost">
                <span ng-if="order.cash > 0">
                  за {{order.cash}} р
                </span>
                <span ng-if="order.cash == 0">
                  бесплатно
                </span>
              </span>
						</span>
						<span ng-if="order.type">
							Разместить заказ <span ng-if="order.wtd_cost">
                <span ng-if="order.cash > 0">
                  за {{order.cash}} р
                </span>
                <span ng-if="order.cash == 0">
                  бесплатно
                </span>
              </span>
						</span>
					</button>
				<!--div class="col">
					<button class="button button-block button-energized order-button">
						Вызов такси
					</button>
				</div-->
			</div>
			<!-- END OF кнопка вызова -->
		</div>


	</ion-content>
</ion-view>
