<div style="margin: -0.5em 0 0.5em">
  {{app.card.defaultAccumCard ? "" : app.card.title}}
  <!-- {{app.card.title}} -->
</div>

<div style="float: left; width : 33%; font-size: 1em" ng-class="{muted: app.card.writeOff}">
  <i class="material-icons vertical-align-bottom" style="font-size: 2.0em">&#xE148;</i>
  <span style="display: inline-block; margin-bottom: 3px">
    {{app.card.reit}} &#8381;
  </span>
</div>

<label class="toggle toggle-energized">
  <input type="checkbox" ng-model="app.card.writeOff">
  <div class="track">
    <div class="handle"></div>
  </div>
</label>

<div style="float: right; width : 33%; font-size: 1em" ng-class="{muted: !app.card.writeOff}">
  <i class="material-icons vertical-align-bottom" style="font-size: 2.0em">&#xE15D;</i>
  <span style="display: inline-block; margin-bottom: 3px">
    {{order.wtd_cost ? order.wtd_cost - order.cash || '--' : '--'}} &#8381;
  </span>
  <br>
</div>
