<ion-view view-title="Заказ">
  <ion-content>
    <div class="list location-list">

      <!-- список адресов -->
      <div class="item item-icon-left location" ng-repeat="addr in order.adds" ng-if="!addr.next()" ng-class-even="'item-stable'">
        <i class="icon ion-location"></i>
        <h2 ng-bind-html="addr.text($first)"></h2>
      </div>
    </div>

    <div class="order-state-card" ng-include="'templates/orderStateInfo.html'"></div>

    <table class="order-info-container" ng-include="'templates/orderInfo2.html'"></table>

    <div class="row text-center list-buttons">
      <button class="button button-block button-assertive" ng-class="{disabled: !order.canCancel()}" ng-click="orderCancel()">
        Отменить заказ
      </button>
    </div>
    <!-- END OF кнопка вызова -->
  </div>

</ion-content>
</ion-view>
