<!-- получение стоимости -->
<tbody ng-if="!order.wtd_cost && !order.error">
	<tr>
		<td style="text-align: center; width: 100%">
			<ion-spinner icon="lines" class="big-spinner"></ion-spinner>
		</td>
	</tr>
</tbody>

<!-- сообщение об ошибке -->
<tbody ng-if="order.error && !orderCancel">
	<tr>
		<td class="rate-error" ng-bind-html="order.error"></td>
	</tr>
</tbody>

<!-- отображение информации о маршруте (стоимость, длина) -->
<tbody ng-if="order.wtd_cost > 0">
	<tr>
		<td>
			<p class="nobr">
				<i class="-ion-clock flaticon-time12"></i> {{order.duration}} мин.
			</p>
			<p class="nobr">
				<i class="-ion-earth flaticon-road24"></i> {{order.dist_km}} км.
			</p>
		</td>
		<td>
			<div ng-if="order.optionsSum || order.plusSum" class="nobr order-options-cost">
				{{order.pureCost - order.plusSum}} р. + {{order.optionsSum + order.plusSum}} р. опции
			</div>
			<h1>
				{{order.wtd_cost}} р.
			</h1>
		</td>
	</tr>
</tbody>
