<ion-view view-title="Выбор города">
	<ion-header-bar class="bar-header bar-light" align-title="center">
		<h1 class="title">Выбор города</h1>
	</ion-header-bar>
	<ion-content>
		<div class="list location-list-">
			
			<!-- список адресов -->
		    <div class="item item-icon-left item-icon-right location-" 
		    	ng-repeat="twn in app.twns_"
		    	ng-click="twnSelect(twn)"
		    	ng-class-even="'item-stable'">
		    	<i class="icon ion-location"></i>
		    	<h2 ng-bind-html="twn.nme"></h2>
		    	<i ng-if="twn.id == app.twn_id" class="icon ion-ios-checkmark-outline"></i>
		    </div>
		</div>
	</ion-content>
</ion-view>