<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.vsegda214536" version="2.2.1-01" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">

	<!-- basic -->
  
  <name>Такси Всегда</name>
  <description>
    Заказ такси
  </description>
  <author email="info@taxi21.ru" href="http://taxivsegda.ru/">
    Taxi21 Development Team
  </author>
	<content src="index.html"/>
	<icon src="resources/icon.png"/>
	
	<!-- platforms -->
	
	<gap:platform name="android"/>
	
	<!-- preferences -->
	
	<preference name="orientation" value="portrait"/>
	<preference name="fullscreen" value="false"/>
	
	<!-- plugins -->

	<gap:plugin name="cordova-plugin-console" source="plugins.cordova.io"/>
	<gap:plugin name="cordova-plugin-device" source="plugins.cordova.io"/>
	<gap:plugin name="cordova-plugin-geolocation" source="plugins.cordova.io"/>
	<gap:plugin name="cordova-plugin-splashscreen"/>
	
	<gap:plugin name="nl.x-services.plugins.toast"/>

</widget>