<!-- получение стоимости -->
<!-- <tbody ng-if="!order.wtd_cost && !order.error">
	<tr>
		<td style="text-align: center; width: 100%">
			<ion-spinner icon="lines" class="big-spinner"></ion-spinner>
		</td>
	</tr>
</tbody> -->

<!-- сообщение об ошибке -->
<!-- <tbody ng-if="order.error && !orderCancel">
	<tr>
		<td class="rate-error" ng-bind-html="order.error"></td>
	</tr>
</tbody> -->

<!-- отображение информации о маршруте (стоимость, длина) -->
<!-- <tbody ng-if="order.wtd_cost > 0">
	<tr>
		<td style="width: 40%">
			<p class="nobr">
				<span ng-if="order.duration">
					<i class="-ion-clock flaticon-time12"></i> {{order.duration}} мин.
				</span>
			</p>
			<p class="nobr">
				<span ng-if="order.dist_km">
					<i class="-ion-earth flaticon-road24"></i> {{order.dist_km}} км.
				</span>
			</p>
		</td>
		<td>
			<h1 style="text-align: left; margin-bottom: 0;">
				{{order.pureCost || order.wtd_cost}} &#8381;
			</h1>
			<div ng-if="order.pureCost">
				<div ng-if="order.optionsSum || order.plusSum" class="nobr order-options-cost">
					<i class="material-icons vertical-align-bottom" style="font-size: 1em;">add</i>
					{{order.optionsSum + order.plusSum}} &#8381; опции
				</div>
				<div ng-if="app.card.type == 8 && app.card.writeOff" class="nobr order-options-cost">
					<i class="material-icons vertical-align-bottom" style="font-size: 1em;">remove</i>
					{{order.wtd_cost - order.cash}} &#8381; с карты
				</div>
			</div>
		</td>
	</tr>
</tbody> -->
